extends ../../layouts/default.pug
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/form-change-multi
include ../../mixins/alert
include ../../mixins/sort
include ../../mixins/table-tree

block main
    +alert-success(3000)
    h1 Danh mục sản phẩm

    .card.mb-3
        .card-header Danh sách
        .card-body
            .row
                .col-8 
                .col-4 
                    a(href=`${prefixAdmin}/products-category/create`
                    class="btn btn-outline-success") Thêm danh mục sản phẩm
            table(class="table caption-top"
    checkbox-multi)
                thead
                    tr
                        th 
                            input(type="checkbox"
                            name="checkAll")
                        th(scope="col") STT
                        th(scope="col") Hình ảnh
                        th(scope="col") Tiêu đề
                        th(scope="col") Vị trí
                        th(scope="col") Trạng thái
                        th(scope="col") Hàng động
                tbody
                    +table-tree(records)