header.header
    .container-fluid
        .row.align-item-center 
            .col-3
                .inner-logo
                    a(href=`${prefixAdmin}/dashboard` class="text-decoration-none") ADMIN

            .col-9 