.sider
    .inner-menu
        ul
            li 
                a(href=`${prefixAdmin}/dashboard` class="text-decoration-none") Tổng quan 
            li 
                a(href=`${prefixAdmin}/products` class="text-decoration-none") Sản phẩm
            li 
                a(href=`${prefixAdmin}/products-category` class="text-decoration-none") Danh mục sản phẩm